# ignore PyCharm environment directory
.idea

# ignore JuptyerLab notebook environment directory
.ipynb_checkpoints

# ignore darksky data (has over 7000 CSV files, and 5GB too large for GitHub typically)
darksky_data

# ignore the database folder, not using yet anyway
database

# ignore big* .parquet files as over ~300 MB to 1GB
big_*

# Ignore EnergyPLAN software install path (seemed to run better within the directory and via commandline vs Jupyter notebook)
notebook/EPLANoptML/ZipEnergyPLAN163
notebook/EPLANoptML/input_folder/old